{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["Chrome >= 37", "ff >= 45", "Safari > 8", "IE >= 10"]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
